@model AnimalViewModel

@{
    ViewData["Title"] = "Animal Page";
}
<h1>
    Modify #@Model.Id @Model.Name's data
</h1>

<form asp-controller="Animal" asp-action="Change" asp-route-id="@Model.Id" class="form-group mb-5">
    <label for="name">Input new name:</label>
    <input type="text" id="name" name="name" class="form-control" />

    <label for="typeId">Input new type:</label>
    <select id="typeId" name="typeId" class="form-select form-select-sm">
        <option value="1">Type 1</option>
    </select>

    <label for="raceId">Input new race:</label>
    <select id="raceId" name="raceId" class="form-select form-select-sm">
        <option value="1">Race 1</option>
    </select>

    <label for="birthDate">Input new date of birth:</label>
    <input type="date" id="birthDate" name="birthDate" class="form-control" />

    <label for="gender">Input new gender:</label>
    <select id="gender" name="gender" class="form-select form-select-sm mb-3">
        <option value="1">Male</option>
        <option value="0">Female</option>
    </select>

    <label for="isVaccinated">Input new gender:</label>
    <select id="isVaccinated" name="isVaccinated" class="form-select form-select-sm mb-3">
        <option value="1">Yes</option>
        <option value="0">No</option>
    </select>

    <label for="adopted">Change to not adopted: (Not available for now)</label>
    <select disabled id="adopted" name="adopted" class="form-select form-select-sm mb-3">
        <option value="1">Do not change</option>
        <option value="0">Change</option>
    </select>

    <label for="description">Other information (description):</label>
    <input type="text" id="description" name="description" class="form-control" />

    <button type="submit" class="btn btn-outline-secondary">Modify animal!</button>
</form>