@model List<TypeViewModel>
@{
    ViewData["Title"] = "Type Page";
}

<form class="form-group mb-3">
    <h1>Add new type of animal:</h1>
    <label for="typeName">Input type:</label>
    <input type="text" id="typeName" name="typeName" class="form-control mb-3" />
    
    <button type="submit" class="btn btn-outline-secondary">Add!</button>
</form>


<h1>Available types:</h1>
<ul class="list-group">
@foreach(var type in Model)
{
        <li class="list-group-item">
            @type.Index | @type.Type
            <a asp-controller="Type" asp-action="Modify" asp-route-index="@type.Index" class="btn btn-sm btn-outline-success">
                Modify
            </a>
            <button class="btn btn-sm btn-outline-danger">Delete</button>
       </li>
}
</ul>