@model TypeViewModel
@{
    ViewData["Title"] = "Type Page";
}

Type modify

@Model.Id
<br />
@Model.TypeName

<form asp-action="Change" asp-controller="Type" asp-route-id="@Model.Id">
    <label for="type">
        Input new type:
    </label>
    <input type="text" name="type" id="type" />
    <button type="submit" class="btn btn-outline-secondary"> Send </button>
</form>