@model TypeViewModel
@{
    ViewData["Title"] = "Type Page";
}
<h1>
    Type modify
</h1>

<br />

<h3>
    #@Model.Id |
    @Model.TypeName
</h3>

<form asp-action="Modify" asp-controller="Type" asp-route-id="@Model.Id">
    <label for="typeName">
        Input new type:
    </label>
    <input type="text" name="typeName" id="typeName" value="@Model.TypeName" />
    <button type="submit" class="btn btn-outline-secondary"> Send </button>
</form>