@model List<RaceViewModel>
@{
    ViewData["Title"] = "Race Page";
}

<form class="form-group mb-3">
    <h1>Add new race of animal:</h1>
    <label for="raceName">Input race:</label>
    <input type="text" id="raceName" name="raceName" class="form-control mb-3" />

    <button type="submit" class="btn btn-outline-secondary">Add!</button>
</form>


<h1>Available races:</h1>
<ul class="list-group">
    @foreach (var race in Model)
    {
        <li class="list-group-item">
            @race.Index | @race.Race
            <a asp-controller="Race" asp-action="Modify" asp-route-index="@race.Index" class="btn btn-sm btn-outline-success">
                Modify
            </a>
            <a asp-controller="Race" asp-action="Delete" asp-route-index="@race.Index" class="btn btn-sm btn-outline-danger">
                Delete
            </a>
        </li>
    }
</ul>