@model List<RaceViewModel>
@{
    ViewData["Title"] = "Race Page";
}

<form class="form-group mb-3" asp-action="Add" asp-controller="Race">
    <h1 class="display-5">Add new race of animal:</h1>
    <label for="race">Input race:</label>
    <input type="text" id="race" name="race" class="form-control mb-3" />

    <button type="submit" class="btn btn-outline-secondary">Add!</button>
</form>


<h1>Available races:</h1>
<ul class="list-group">
    @foreach (var race in Model)
    {
        <li class="list-group-item">
            @race.Id | @race.RaceName
            <a asp-controller="Race" asp-action="Modify" asp-route-id="@race.Id" class="btn btn-sm btn-outline-success">
                Modify
            </a>
            <a asp-controller="Race" asp-action="Delete" asp-route-id="@race.Id" class="btn btn-sm btn-outline-danger">
                Delete
            </a>
        </li>
    }
</ul>