@model RaceViewModel
@{
    ViewData["Title"] = "Race Page";
}
<h1>
    Race modify
</h1>

@Model.Id 
<br />
@Model.RaceName

<form asp-action="Change" asp-controller="Race" asp-route-id="@Model.Id">
    <label for="race">
        Input new race:
    </label>
    <input type="text" name="race" id="race"/>
    <button type="submit" class="btn btn-outline-secondary"> Send </button>
</form>